
.text{
	font-size: 10px;
	font-family: 'Questrial', sans-serif;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	float:right;
	margin-bottom: 10px;
	position: relative;
	padding-top: 13px;
	height:  280px;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: #A8A8A8;

}

.left{
	float: left;
	padding-right: 1px;
}

.right{
	float: right;
	padding-left: 1px;
}

.photoSection1{
	float: left;
	padding-top: 20px;
	padding-bottom: 22px;
	display: inline-block;
	justify-content: space-between;
	vertical-align: top;

}
 
#photo1{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}

#photo2{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}

#photo3{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}
#photo4{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}
#photo5{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}
#photo6{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}


.photoSection1:hover {
	opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
}

.photoSection2{
	float: left;
	padding-top: 5px;
	padding-bottom: 22px;
	display: inline-block;
	justify-content: space-between;
	vertical-align: top;
}

#photo7{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}
#photo8{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}
#photo9{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}
#photo10{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}
#photo11{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}
#photo12{
	position: relative;
	max-height: 16.66%;
	max-width: 16.66%;
}

.photoSection2:hover{
	opacity: 0.5;
    filter: alpha(opacity=50);
}